@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/Space_Mono/SpaceMono-Bold.ttf");
  font-weight: 700; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Work Sans"; }

header,
main,
section {
  background-color: #2b2b2b; }

footer {
  background-color: #3b3b3b; }

main,
section {
  padding: 8rem 0; }

.wrapper {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  color: #fff; }

h1 {
  font-size: 6.7rem;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize; }

h2 {
  font-size: 2.2rem;
  font-family: "Space Mono";
  font-weight: 700; }

h3 {
  font-size: 3.8rem;
  font-weight: 600; }

h4 {
  font-size: 2.8rem;
  font-family: "Space Mono";
  font-weight: 700; }

h5 {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 160%;
  text-transform: capitalize; }

h6 {
  font-size: 2.2rem;
  font-weight: 600; }

p {
  font-size: 1.6rem; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600; }

.logo a {
  display: flex;
  align-items: center; }
  .logo a img {
    margin-right: 1.2rem; }

.button {
  background-color: #a259ff;
  border-radius: 20px;
  border: 2px solid #a259ff; }
  .button img {
    padding-right: 1.2rem; }
  .button:hover {
    background-color: transparent; }
  .button img {
    vertical-align: middle; }

.done-by {
  display: flex;
  align-items: center; }
  .done-by img {
    width: 24px;
    border-radius: 50%;
    margin-right: 1.2rem; }
  .done-by p {
    font-size: 1.6rem;
    font-weight: 300; }

.email-form {
  display: flex;
  align-items: center; }
  .email-form input {
    padding: 2rem 5rem 2rem 2rem; }

input {
  font-size: 1.6rem;
  font-family: "Work Sans";
  border-radius: 20px;
  border: none; }

button {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  right: 3rem;
  cursor: pointer; }
  button.button {
    border: 0.5px solid #a259ff; }
    button.button:hover {
      background-color: #a259ff; }

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .wrapper-grid .head {
    grid-column: 1/4;
    grid-row: 1/2; }
    .wrapper-grid .head h3 {
      margin-bottom: 1rem; }
    .wrapper-grid .head h5 {
      margin-bottom: 6rem; }
  .wrapper-grid .btn {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-bottom: 6rem; }
    .wrapper-grid .btn .button {
      padding: 1.8rem 5rem;
      background-color: transparent; }
  .wrapper-grid .all {
    grid-column: 1/5;
    grid-row: 2/3; }

header .header-wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.4rem 0; }
  header .header-wrapper nav ul {
    display: flex;
    align-items: center; }
    header .header-wrapper nav ul li a {
      padding: 1.2rem 2rem; }
    header .header-wrapper nav ul li .button {
      padding: 1.8rem 2.8rem; }

main .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem; }
  main .wrapper .about {
    grid-column: 1/2;
    grid-row: 1/2; }
    main .wrapper .about h1 {
      width: 42rem; }
    main .wrapper .about h5 {
      margin-top: 2rem; }
  main .wrapper .info {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 2rem; }
    main .wrapper .info .btn .button {
      padding: 2rem 5rem; }
    main .wrapper .info .statistics {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 6rem; }
      main .wrapper .info .statistics p {
        font-size: 2.4rem;
        font-weight: 300; }
  main .wrapper .card {
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 20px;
    background-color: #3b3b3b; }
    main .wrapper .card a .card-img img {
      width: 100%;
      height: 470px;
      border-radius: 20px 20px 0 0; }
    main .wrapper .card a h6 {
      margin: 2rem 0 1rem 2rem; }
    main .wrapper .card a .done-by {
      margin: 2rem; }
      main .wrapper .card a .done-by img {
        display: inline-block;
        width: 24px;
        border-radius: 50%;
        margin-right: 1.2rem;
        vertical-align: middle; }
      main .wrapper .card a .done-by p {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 300; }

.collection-section .wrapper h3 {
  margin-bottom: 1rem; }
.collection-section .wrapper h5 {
  margin-bottom: 6rem; }
.collection-section .wrapper .collection-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; }
  .collection-section .wrapper .collection-types .collection-type .collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem; }
    .collection-section .wrapper .collection-types .collection-type .collections a img {
      width: 100%;
      border-radius: 20px; }
    .collection-section .wrapper .collection-types .collection-type .collections .main-collection {
      grid-column: 1/4; }
    .collection-section .wrapper .collection-types .collection-type .collections .collection {
      background-color: #a259ff;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Space Mono";
      font-weight: 700;
      font-size: 2.2rem;
      color: #fff; }
  .collection-section .wrapper .collection-types .collection-type h6 {
    margin-bottom: 1rem; }

.creators-section .wrapper .creators {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem; }
  .creators-section .wrapper .creators .creator {
    text-align: center;
    background-color: #3b3b3b;
    border-radius: 20px;
    position: relative; }
    .creators-section .wrapper .creators .creator a {
      padding: 2rem; }
      .creators-section .wrapper .creators .creator a .number {
        position: absolute;
        top: 1.8rem;
        left: 2rem;
        color: #858584;
        background-color: #2b2b2b;
        border-radius: 50%;
        padding: 4px 10px;
        font-family: "Space Mono";
        font-size: 1.6rem;
        font-weight: 400; }
      .creators-section .wrapper .creators .creator a .creator-img {
        margin-bottom: 2rem; }
        .creators-section .wrapper .creators .creator a .creator-img img {
          width: 110px;
          border-radius: 50%; }
      .creators-section .wrapper .creators .creator a p {
        margin-top: 5px;
        color: #858584;
        font-weight: 400; }
        .creators-section .wrapper .creators .creator a p span {
          font-family: "Space Mono";
          color: #fff; }

.categories-section .wrapper h3 {
  margin-bottom: 6rem; }
.categories-section .wrapper .categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem; }
  .categories-section .wrapper .categories a {
    background-color: #3b3b3b;
    border-radius: 20px; }
    .categories-section .wrapper .categories a .category .icon {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      height: 240px;
      border-radius: 20px 20px 0 0; }
      .categories-section .wrapper .categories a .category .icon .blur-background {
        position: absolute;
        filter: blur(8px);
        width: 100%;
        height: 100%;
        top: 0; }
      .categories-section .wrapper .categories a .category .icon img {
        z-index: 2;
        width: 100px; }
      .categories-section .wrapper .categories a .category .icon .blur-background-1 {
        background: url("../images/art.png") no-repeat center/cover; }
      .categories-section .wrapper .categories a .category .icon .blur-background-2 {
        background: url("../images/keemun-monkey.png") no-repeat center/cover; }
      .categories-section .wrapper .categories a .category .icon .blur-background-3 {
        background: url("../images/music.png") no-repeat center/cover; }
      .categories-section .wrapper .categories a .category .icon .blur-background-4 {
        background: url("../images/old-man.png") no-repeat center/cover; }
      .categories-section .wrapper .categories a .category .icon .blur-background-5 {
        background: url("../images/space-scene-with-kid.png") no-repeat center/cover; }
      .categories-section .wrapper .categories a .category .icon .blur-background-6 {
        background: url("../images/key.png") no-repeat center/cover; }
      .categories-section .wrapper .categories a .category .icon .blur-background-7 {
        background: url("../images/basketball.png") no-repeat center/cover; }
      .categories-section .wrapper .categories a .category .icon .blur-background-8 {
        background: url("../images/city-with-holograms.png") no-repeat center/cover; }
    .categories-section .wrapper .categories a .category h6 {
      margin: 2rem 3rem 2.5rem 3rem; }

.nfts-section .wrapper .nfts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; }
  .nfts-section .wrapper .nfts a .nft {
    background-color: #3b3b3b;
    padding-bottom: 2.5rem;
    border-radius: 20px; }
    .nfts-section .wrapper .nfts a .nft .nft-img img {
      width: 100%;
      border-radius: 20px 20px 0 0; }
    .nfts-section .wrapper .nfts a .nft h6,
    .nfts-section .wrapper .nfts a .nft .done-by,
    .nfts-section .wrapper .nfts a .nft .nft-info {
      margin: 2rem 3rem 0.5rem 3rem; }
    .nfts-section .wrapper .nfts a .nft .nft-info {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .nfts-section .wrapper .nfts a .nft .nft-info p {
        color: #858584;
        font-size: 1.2rem;
        font-family: "Space Mono";
        font-weight: 400; }
      .nfts-section .wrapper .nfts a .nft .nft-info h4 {
        font-size: 1.6rem;
        font-weight: 400; }

.mushrooms-section {
  background: linear-gradient(transparent, #a259ff), url("../images/keemun-mushroom-1.png") no-repeat center/cover;
  min-height: 95vh; }
  .mushrooms-section .wrapper .mushroom-info {
    display: grid;
    grid-template-columns: 1fr 35rem;
    align-items: flex-end;
    margin-top: 25rem; }
    .mushrooms-section .wrapper .mushroom-info .done-by {
      background-color: #3b3b3b;
      border-radius: 20px;
      width: 15rem;
      grid-row: 1/2; }
      .mushrooms-section .wrapper .mushroom-info .done-by a {
        padding: 1.1rem 2rem;
        display: flex;
        align-items: center; }
    .mushrooms-section .wrapper .mushroom-info h3 {
      font-size: 5.1rem;
      margin: 5rem 0;
      grid-row: 2/3; }
    .mushrooms-section .wrapper .mushroom-info .btn {
      grid-row: 3/4;
      margin-bottom: 2rem; }
      .mushrooms-section .wrapper .mushroom-info .btn .button {
        padding: 2rem 5rem;
        background-color: #fff;
        border: 2px solid #fff;
        color: #2b2b2b; }
    .mushrooms-section .wrapper .mushroom-info .auction-deadline {
      grid-column: 2/3;
      grid-row: 2/4;
      background-color: #3b3b3b80;
      padding: 3rem;
      border-radius: 20px;
      height: 15rem; }
      .mushrooms-section .wrapper .mushroom-info .auction-deadline p {
        font-family: "Space Mono";
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 1rem; }
      .mushrooms-section .wrapper .mushroom-info .auction-deadline .deadline {
        display: flex;
        align-items: center; }
        .mushrooms-section .wrapper .mushroom-info .auction-deadline .deadline .time {
          margin-left: 10px; }
        .mushrooms-section .wrapper .mushroom-info .auction-deadline .deadline h3 {
          font-family: "Space Mono";
          font-size: 3.8rem;
          margin: 0; }
        .mushrooms-section .wrapper .mushroom-info .auction-deadline .deadline p {
          margin: 0; }

.how-works-section .wrapper h3 {
  margin-bottom: 1rem; }
.how-works-section .wrapper h5 {
  margin-bottom: 4.8rem; }
.how-works-section .wrapper .steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; }
  .how-works-section .wrapper .steps .step {
    text-align: center;
    background-color: #3b3b3b;
    padding: 1rem 3rem 3rem;
    border-radius: 30px; }
    .how-works-section .wrapper .steps .step .step-icon img {
      width: 100%; }
    .how-works-section .wrapper .steps .step h6 {
      margin: 2rem 0 1rem 0; }

footer {
  padding: 4rem 0; }
  footer .wrapper .footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 3rem; }
    footer .wrapper .footer-info .footer-logo .logo {
      margin-bottom: 3rem;
      width: 25rem; }
      footer .wrapper .footer-info .footer-logo .logo a {
        margin-top: 0; }
    footer .wrapper .footer-info .footer-nav {
      margin: 0 4rem; }
      footer .wrapper .footer-info .footer-nav h2 {
        margin-bottom: 3rem; }
      footer .wrapper .footer-info .footer-nav ul li {
        margin: 2rem 0; }
    footer .wrapper .footer-info .footer-contact h2 {
      margin-bottom: 3rem; }
  footer .wrapper p,
  footer .wrapper a {
    margin: 2rem 0;
    color: #ccc;
    font-weight: 400;
    line-height: 140%; }
  footer .wrapper .copy {
    border-top: 1px solid #858584;
    padding-top: 2rem; }

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90%; }

  header .header-wrapper {
    width: 90%; } }
@media screen and (max-width: 992px) {
  h1 {
    font-size: 3.8rem;
    line-height: 120%; }

  h3 {
    font-size: 2.8rem; }

  h4 {
    font-size: 2.2rem;
    line-height: 160%; }

  h5 {
    font-size: 1.6rem;
    line-height: 140%; }

  header .header-wrapper {
    flex-direction: column;
    padding: 2rem; }
    header .header-wrapper nav {
      margin-top: 20px; }
      header .header-wrapper nav ul li .button {
        background-color: transparent;
        border: transparent;
        padding: 1.2rem 2rem; }
        header .header-wrapper nav ul li .button img {
          display: none; }

  main .wrapper .about h1 {
    width: 100%; }
  main .wrapper .info .statistics .statistic p {
    font-size: 1.6rem; }
  main .wrapper .card a .card-img img {
    height: 320px; }

  .collection-section .wrapper .collection-types {
    grid-template-columns: repeat(2, 1fr); }
    .collection-section .wrapper .collection-types .type-3 {
      display: none; }

  .creators-section .wrapper .creators {
    grid-template-columns: repeat(2, 1fr); }
    .creators-section .wrapper .creators .creator-7 {
      display: none; }
    .creators-section .wrapper .creators .creator a {
      text-align: left;
      display: flex;
      align-items: center; }
      .creators-section .wrapper .creators .creator a .creator-img {
        margin: 0 2rem 0 0; }

  .categories-section .wrapper .categories a .category .icon {
    height: 140px; }
    .categories-section .wrapper .categories a .category .icon img {
      width: 80px; }
  .categories-section .wrapper .categories a .category h6 {
    font-size: 1.6rem;
    margin-right: 0;
    margin-left: 1rem; }

  .nfts-section .wrapper .nfts {
    grid-template-columns: repeat(2, 1fr); }
    .nfts-section .wrapper .nfts .nft-3 {
      display: none; }

  .mushrooms-section .wrapper .mushroom-info h3 {
    font-size: 3.8rem; }

  .how-works-section .wrapper .steps .step h6 {
    font-size: 1.6rem; }
  .how-works-section .wrapper .steps .step p {
    font-size: 1.2rem;
    line-height: 140%; }

  footer .wrapper .footer-info {
    display: grid;
    grid-template-columns: 1fr; }
    footer .wrapper .footer-info .footer-nav {
      margin-left: 0; } }
@media screen and (max-width: 768px) {
  header .header-wrapper {
    width: 98%; } }
@media screen and (max-width: 678px) {
  .wrapper-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "head" "creators" "btn"; }
    .wrapper-grid .head {
      grid-area: head; }
      .wrapper-grid .head h5 {
        margin-bottom: 4rem; }
    .wrapper-grid .btn {
      grid-area: btn;
      margin: 4rem 0 0 0;
      width: 100%; }
      .wrapper-grid .btn .button {
        display: flex;
        justify-content: center; }
    .wrapper-grid .all {
      grid-area: creators; }

  main .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "about" "card" "info"; }
    main .wrapper .about {
      grid-area: about; }
    main .wrapper .info {
      grid-area: info; }
      main .wrapper .info .btn .button {
        display: flex;
        justify-content: center; }
    main .wrapper .card {
      grid-area: card; }

  .creators-section .wrapper .creators {
    grid-template-columns: 1fr; }
    .creators-section .wrapper .creators .creator-6 {
      display: none; }

  .categories-section .wrapper .categories {
    grid-template-columns: repeat(2, 1fr); }
    .categories-section .wrapper .categories a .category .icon {
      height: 180px; }

  .mushrooms-section .wrapper .mushroom-info {
    display: inline-block;
    margin-top: 10rem; }
    .mushrooms-section .wrapper .mushroom-info h3 {
      margin: 3rem 0; }
    .mushrooms-section .wrapper .mushroom-info .btn {
      margin-top: 4rem; }

  .how-works-section .wrapper .steps {
    grid-template-columns: 1fr; }
    .how-works-section .wrapper .steps .step {
      display: flex;
      padding: 2rem;
      text-align: left; }
      .how-works-section .wrapper .steps .step .step-info {
        margin-left: 2rem; } }
@media screen and (max-width: 588px) {
  .email-form {
    flex-direction: column; }
    .email-form input {
      width: 100%;
      margin-bottom: 1.6rem; }
    .email-form button {
      width: 100%;
      right: 0; }

  header .header-wrapper nav ul {
    flex-direction: column; }
    header .header-wrapper nav ul li {
      margin-top: 1.5rem; }

  .collection-section .wrapper .collection-types {
    grid-template-columns: 1fr; }
    .collection-section .wrapper .collection-types .collection-type .collections .collection {
      font-size: 1.6rem; }
    .collection-section .wrapper .collection-types .type-2 {
      display: none; }

  .categories-section .wrapper .categories a .category .icon {
    height: 140px; }

  .nfts-section .wrapper .nfts {
    grid-template-columns: 1fr; }
    .nfts-section .wrapper .nfts .nft-3 {
      display: inline-block; }

  .mushrooms-section {
    min-height: 70vh; }
    .mushrooms-section .wrapper .mushroom-info {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 0; }
      .mushrooms-section .wrapper .mushroom-info h3 {
        margin: 3rem 0; }
      .mushrooms-section .wrapper .mushroom-info .auction-deadline {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
      .mushrooms-section .wrapper .mushroom-info .btn {
        width: 100%; }
        .mushrooms-section .wrapper .mushroom-info .btn .button {
          display: flex;
          justify-content: center; } }

/*# sourceMappingURL=main.css.map */
