@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/Space_Mono/SpaceMono-Bold.ttf");
  font-weight: 700; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Work Sans"; }

header,
main,
section {
  background-color: #2b2b2b; }

footer {
  background-color: #3b3b3b; }

.wrapper {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
p,
a,
button {
  color: #fff; }

h1 {
  font-size: 5.1rem; }

h2 {
  font-size: 2.2rem;
  font-family: "Space Mono";
  font-weight: 700; }

h3 {
  font-size: 3.8rem;
  font-weight: 600; }

h4 {
  font-size: 2.8rem;
  font-family: "Space Mono";
  font-weight: 700; }

h5 {
  font-size: 2.2rem;
  font-family: "Space Mono";
  color: #858584;
  margin-bottom: 1rem;
  margin-top: 3rem; }

h6 {
  font-size: 2.2rem;
  font-weight: 600; }

p {
  font-size: 1.6rem; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600; }

.logo a {
  display: flex;
  align-items: center; }
  .logo a img {
    margin-right: 1.2rem; }

.button {
  background-color: #a259ff;
  border-radius: 20px;
  border: 2px solid #a259ff; }
  .button:hover {
    background-color: transparent; }
  .button img {
    vertical-align: middle;
    margin-right: 1rem; }

.email-form {
  display: flex;
  align-items: center; }
  .email-form input {
    padding: 2rem 5rem 2rem 2rem; }

input {
  font-size: 1.6rem;
  font-family: "Work Sans";
  border-radius: 20px;
  border: none; }

button {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  right: 3rem;
  cursor: pointer; }
  button.button {
    border: 0.5px solid #a259ff; }
    button.button:hover {
      background-color: #a259ff; }

.done-by {
  display: flex;
  align-items: center; }
  .done-by img {
    width: 24px;
    border-radius: 50%;
    margin-right: 1.2rem; }
  .done-by p {
    font-size: 1.6rem;
    font-weight: 300; }

.wrapper-grid {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .wrapper-grid .head {
    grid-column: 1/4;
    grid-row: 1/2; }
    .wrapper-grid .head h3 {
      margin-bottom: 6rem; }
    .wrapper-grid .head h5 {
      margin-bottom: 6rem; }
  .wrapper-grid .btn {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-bottom: 6rem; }
    .wrapper-grid .btn .button {
      padding: 1.8rem 5rem;
      background-color: transparent; }
  .wrapper-grid .all {
    grid-column: 1/5;
    grid-row: 2/3; }

header .header-wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.4rem 0; }
  header .header-wrapper nav ul {
    display: flex;
    align-items: center; }
    header .header-wrapper nav ul li a {
      padding: 1.2rem 2rem; }
    header .header-wrapper nav ul li .button {
      padding: 1.8rem 2.8rem; }

main {
  background: url("../images/magic-space-scene-with-astronaut.png") no-repeat center/cover;
  height: 560px; }

.artist-info-section {
  padding: 4rem 0; }
  .artist-info-section .wrapper {
    display: grid;
    grid-template-columns: 1fr 33rem; }
    .artist-info-section .wrapper p {
      font-size: 2.2rem; }
    .artist-info-section .wrapper .nft-head {
      grid-column: 1/2;
      grid-row: 1/2; }
      .artist-info-section .wrapper .nft-head p {
        color: #858584; }
    .artist-info-section .wrapper .done-by a {
      display: flex;
      align-items: center; }
      .artist-info-section .wrapper .done-by a img {
        width: 24px;
        border-radius: 50%;
        margin-right: 1.2rem; }
      .artist-info-section .wrapper .done-by a p {
        font-size: 1.6rem;
        font-weight: 600; }
    .artist-info-section .wrapper .auction-deadline {
      grid-column: 2/3;
      grid-row: 1/3;
      background-color: #3b3b3b80;
      padding: 3rem;
      border-radius: 20px;
      height: 24rem; }
      .artist-info-section .wrapper .auction-deadline button {
        right: 0;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        width: 100%; }
      .artist-info-section .wrapper .auction-deadline p {
        font-family: "Space Mono";
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 1rem; }
      .artist-info-section .wrapper .auction-deadline .deadline {
        display: flex;
        justify-content: space-between; }
        .artist-info-section .wrapper .auction-deadline .deadline .time {
          margin-left: 10px;
          display: flex;
          flex-direction: column; }
        .artist-info-section .wrapper .auction-deadline .deadline h3 {
          font-family: "Space Mono";
          font-size: 3.8rem;
          margin: 0; }
        .artist-info-section .wrapper .auction-deadline .deadline p {
          margin: 0; }
    .artist-info-section .wrapper .additional-info {
      grid-column: 1/2;
      grid-row: 2/3; }
      .artist-info-section .wrapper .additional-info .link a {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        font-weight: 400; }
        .artist-info-section .wrapper .additional-info .link a img {
          margin-right: 1rem; }
      .artist-info-section .wrapper .additional-info .nft-buttons {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem; }
        .artist-info-section .wrapper .additional-info .nft-buttons a {
          text-align: center;
          background-color: #3b3b3b;
          padding: 1.2rem 0;
          border-radius: 20px; }

.nfts-section .wrapper .nfts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; }
  .nfts-section .wrapper .nfts a .nft {
    background-color: #3b3b3b;
    padding-bottom: 2.5rem;
    border-radius: 20px; }
    .nfts-section .wrapper .nfts a .nft .nft-img img {
      width: 100%;
      border-radius: 20px 20px 0 0; }
    .nfts-section .wrapper .nfts a .nft h6,
    .nfts-section .wrapper .nfts a .nft .done-by,
    .nfts-section .wrapper .nfts a .nft .nft-info {
      margin: 2rem 3rem 0.5rem 3rem; }
    .nfts-section .wrapper .nfts a .nft .nft-info {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .nfts-section .wrapper .nfts a .nft .nft-info p {
        color: #858584;
        font-size: 1.2rem;
        font-family: "Space Mono";
        font-weight: 400; }
      .nfts-section .wrapper .nfts a .nft .nft-info h4 {
        font-size: 1.6rem;
        font-weight: 400; }

footer {
  padding: 4rem 0; }
  footer .wrapper .footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 3rem; }
    footer .wrapper .footer-info .footer-logo .logo {
      margin-bottom: 3rem;
      width: 25rem; }
      footer .wrapper .footer-info .footer-logo .logo a {
        margin-top: 0; }
    footer .wrapper .footer-info .footer-nav {
      margin: 0 4rem; }
      footer .wrapper .footer-info .footer-nav h2 {
        margin-bottom: 3rem; }
      footer .wrapper .footer-info .footer-nav ul li {
        margin: 2rem 0; }
    footer .wrapper .footer-info .footer-contact h2 {
      margin-bottom: 3rem; }
  footer .wrapper p,
  footer .wrapper a {
    margin: 2rem 0;
    color: #ccc;
    font-weight: 400;
    line-height: 140%; }
  footer .wrapper .copy {
    border-top: 1px solid #858584;
    padding-top: 2rem; }

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90%; }

  header .header-wrapper {
    width: 90%; } }
@media screen and (max-width: 992px) {
  h1 {
    font-size: 3.8rem; }

  h5 {
    font-size: 1.6rem; }

  header .header-wrapper {
    flex-direction: column;
    padding: 2rem; }
    header .header-wrapper nav {
      margin-top: 20px; }
      header .header-wrapper nav ul li .button {
        background-color: transparent;
        border: transparent;
        padding: 1.2rem 2rem; }
        header .header-wrapper nav ul li .button img {
          display: none; }

  main {
    height: 420px; }

  .artist-info-section .wrapper p {
    font-size: 1.6rem; }
  .artist-info-section .wrapper .additional-info .nft-buttons {
    grid-template-columns: repeat(2, 1fr); }

  .nfts-section .wrapper .nfts {
    grid-template-columns: repeat(2, 1fr); }
    .nfts-section .wrapper .nfts .nft-7 {
      display: none; }

  footer .wrapper .footer-info {
    display: grid;
    grid-template-columns: 1fr; }
    footer .wrapper .footer-info .footer-nav {
      margin-left: 0; } }
@media screen and (max-width: 768px) {
  header .header-wrapper {
    width: 98%; }

  .artist-info-section .wrapper {
    display: flex;
    flex-direction: column; }
    .artist-info-section .wrapper .nft-head {
      margin-bottom: 2rem; }
    .artist-info-section .wrapper .auction-deadline {
      width: 35rem; } }
@media screen and (max-width: 678px) {
  .wrapper-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "head" "creators" "btn"; }
    .wrapper-grid .head {
      grid-area: head; }
      .wrapper-grid .head h5 {
        margin-bottom: 4rem; }
    .wrapper-grid .btn {
      grid-area: btn;
      margin: 4rem 0 0 0;
      width: 100%; }
      .wrapper-grid .btn .button {
        display: flex;
        justify-content: center; }
    .wrapper-grid .all {
      grid-area: creators; } }
@media screen and (max-width: 588px) {
  h1 {
    font-size: 2.8rem; }

  .email-form {
    flex-direction: column; }
    .email-form input {
      width: 100%;
      margin-bottom: 1.6rem; }
    .email-form button {
      width: 100%;
      right: 0; }

  header .header-wrapper nav ul {
    flex-direction: column; }
    header .header-wrapper nav ul li {
      margin-top: 1.5rem; }

  main {
    height: 320px; }

  .artist-info-section .wrapper .auction-deadline {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 22rem; }
    .artist-info-section .wrapper .auction-deadline button {
      width: 100%; }
  .artist-info-section .wrapper .additional-info .nft-buttons {
    grid-template-columns: 1fr; }

  .nfts-section .wrapper .nfts {
    grid-template-columns: 1fr; }
    .nfts-section .wrapper .nfts .nft-3 {
      display: none; } }

/*# sourceMappingURL=nft.css.map */
