// Fonts
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/Space_Mono/SpaceMono-Bold.ttf");
  font-weight: 700;
}

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans";
}

header,
main,
section {
  background-color: #2b2b2b;
}

footer {
  background-color: #3b3b3b;
}

main,
section {
  padding: 8rem 0;
}

.wrapper {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  color: #fff;
}

h1 {
  font-size: 6.7rem;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
}

h2 {
  font-size: 2.2rem;
  font-family: "Space Mono";
  font-weight: 700;
}

h3 {
  font-size: 3.8rem;
  font-weight: 600;
}

h4 {
  font-size: 2.8rem;
  font-family: "Space Mono";
  font-weight: 700;
}

h5 {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 160%;
  text-transform: capitalize;
}

h6 {
  font-size: 2.2rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.logo {
  a {
    display: flex;
    align-items: center;

    img {
      margin-right: 1.2rem;
    }
  }
}

.button {
  background-color: #a259ff;
  border-radius: 20px;
  border: 2px solid #a259ff;

  img {
    padding-right: 1.2rem;
  }

  &:hover {
    background-color: transparent;
  }

  img {
    vertical-align: middle;
  }
}

.done-by {
  display: flex;
  align-items: center;

  img {
    width: 24px;
    border-radius: 50%;
    margin-right: 1.2rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

.email-form {
  display: flex;
  align-items: center;

  input {
    padding: 2rem 5rem 2rem 2rem;
  }
}

input {
  font-size: 1.6rem;
  font-family: "Work Sans";
  border-radius: 20px;
  border: none;
}

button {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  right: 3rem;
  cursor: pointer;

  &.button {
    border: 0.5px solid #a259ff;

    &:hover {
      background-color: #a259ff;
    }
  }
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .head {
    grid-column: 1/4;
    grid-row: 1/2;

    h3 {
      margin-bottom: 1rem;
    }

    h5 {
      margin-bottom: 6rem;
    }
  }

  .btn {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-bottom: 6rem;

    .button {
      padding: 1.8rem 5rem;
      background-color: transparent;
    }
  }

  .all {
    grid-column: 1/5;
    grid-row: 2/3;
  }
}

// Header section
header {
  .header-wrapper {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.4rem 0;

    nav {
      ul {
        display: flex;
        align-items: center;

        li {
          a {
            padding: 1.2rem 2rem;
          }

          .button {
            padding: 1.8rem 2.8rem;
          }
        }
      }
    }
  }
}

// Hero section
main {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;

    .about {
      grid-column: 1/2;
      grid-row: 1/2;

      h1 {
        width: 42rem;
      }

      h5 {
        margin-top: 2rem;
      }
    }

    .info {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-top: 2rem;

      .btn {
        .button {
          padding: 2rem 5rem;
        }
      }

      .statistics {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6rem;

        p {
          font-size: 2.4rem;
          font-weight: 300;
        }
      }
    }

    .card {
      grid-column: 2/3;
      grid-row: 1/3;
      border-radius: 20px;
      background-color: #3b3b3b;

      a {
        .card-img {
          img {
            width: 100%;
            height: 470px;
            border-radius: 20px 20px 0 0;
          }
        }

        h6 {
          margin: 2rem 0 1rem 2rem;
        }

        .done-by {
          margin: 2rem;

          img {
            display: inline-block;
            width: 24px;
            border-radius: 50%;
            margin-right: 1.2rem;
            vertical-align: middle;
          }

          p {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}

// Collection section
.collection-section {
  .wrapper {
    h3 {
      margin-bottom: 1rem;
    }

    h5 {
      margin-bottom: 6rem;
    }

    .collection-types {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;

      .collection-type {
        .collections {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 1.5rem;
          margin-bottom: 1.5rem;

          a {
            img {
              width: 100%;
              border-radius: 20px;
            }
          }

          .main-collection {
            grid-column: 1/4;
          }

          .collection {
            background-color: #a259ff;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 2.2rem;
            color: #fff;
          }
        }

        h6 {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// Creators section
.creators-section {
  .wrapper {
    .creators {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem;

      .creator {
        text-align: center;
        background-color: #3b3b3b;
        border-radius: 20px;
        position: relative;

        a {
          padding: 2rem;

          .number {
            position: absolute;
            top: 1.8rem;
            left: 2rem;
            color: #858584;
            background-color: #2b2b2b;
            border-radius: 50%;
            padding: 4px 10px;
            font-family: "Space Mono";
            font-size: 1.6rem;
            font-weight: 400;
          }

          .creator-img {
            margin-bottom: 2rem;

            img {
              width: 110px;
              border-radius: 50%;
            }
          }

          p {
            margin-top: 5px;
            color: #858584;
            font-weight: 400;

            span {
              font-family: "Space Mono";
              color: #fff;
            }
          }
        }
      }
    }
  }
}

// Categories section {
.categories-section {
  .wrapper {
    h3 {
      margin-bottom: 6rem;
    }

    .categories {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem;

      a {
        background-color: #3b3b3b;
        border-radius: 20px;

        .category {
          .icon {
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            height: 240px;
            border-radius: 20px 20px 0 0;

            .blur-background {
              position: absolute;
              filter: blur(8px);
              width: 100%;
              height: 100%;
              top: 0;
            }

            img {
              z-index: 2;
              width: 100px;
            }

            .blur-background-1 {
              background: url("../images/art.png") no-repeat center/cover;
            }

            .blur-background-2 {
              background: url("../images/keemun-monkey.png") no-repeat
                center/cover;
            }

            .blur-background-3 {
              background: url("../images/music.png") no-repeat center/cover;
            }

            .blur-background-4 {
              background: url("../images/old-man.png") no-repeat center/cover;
            }

            .blur-background-5 {
              background: url("../images/space-scene-with-kid.png") no-repeat
                center/cover;
            }

            .blur-background-6 {
              background: url("../images/key.png") no-repeat center/cover;
            }

            .blur-background-7 {
              background: url("../images/basketball.png") no-repeat center/cover;
            }

            .blur-background-8 {
              background: url("../images/city-with-holograms.png") no-repeat
                center/cover;
            }
          }

          h6 {
            margin: 2rem 3rem 2.5rem 3rem;
          }
        }
      }
    }
  }
}

// NFTs section
.nfts-section {
  .wrapper {
    .nfts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;

      a {
        .nft {
          background-color: #3b3b3b;
          padding-bottom: 2.5rem;
          border-radius: 20px;

          .nft-img {
            img {
              width: 100%;
              border-radius: 20px 20px 0 0;
            }
          }

          h6,
          .done-by,
          .nft-info {
            margin: 2rem 3rem 0.5rem 3rem;
          }

          .nft-info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
              color: #858584;
              font-size: 1.2rem;
              font-family: "Space Mono";
              font-weight: 400;
            }

            h4 {
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

// Mushrooms section
.mushrooms-section {
  background: linear-gradient(transparent, #a259ff),
    url("../images/keemun-mushroom-1.png") no-repeat center/cover;
  min-height: 95vh;

  .wrapper {
    .mushroom-info {
      display: grid;
      grid-template-columns: 1fr 35rem;
      align-items: flex-end;
      margin-top: 25rem;

      .done-by {
        background-color: #3b3b3b;
        border-radius: 20px;
        width: 15rem;
        grid-row: 1/2;

        a {
          padding: 1.1rem 2rem;
          display: flex;
          align-items: center;
        }
      }head

      h3 {
        font-size: 5.1rem;
        margin: 5rem 0;
        grid-row: 2/3;
      }

      .btn {
        grid-row: 3/4;
        margin-bottom: 2rem;

        .button {
          padding: 2rem 5rem;
          background-color: #fff;
          border: 2px solid #fff;
          color: #2b2b2b;
        }
      }

      .auction-deadline {
        grid-column: 2/3;
        grid-row: 2/4;
        background-color: #3b3b3b80;
        padding: 3rem;
        border-radius: 20px;
        height: 15rem;

        p {
          font-family: "Space Mono";
          font-size: 1.2rem;
          font-weight: 400;
          margin-left: 1rem;
        }

        .deadline {
          display: flex;
          align-items: center;

          .time {
            margin-left: 10px;
          }

          h3 {
            font-family: "Space Mono";
            font-size: 3.8rem;
            margin: 0;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}

// How works section
.how-works-section {
  .wrapper {
    h3 {
      margin-bottom: 1rem;
    }

    h5 {
      margin-bottom: 4.8rem;
    }

    .steps {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;

      .step {
        text-align: center;
        background-color: #3b3b3b;
        padding: 1rem 3rem 3rem;
        border-radius: 30px;

        .step-icon {
          img {
            width: 100%;
          }
        }

        h6 {
          margin: 2rem 0 1rem 0;
        }
      }
    }
  }
}

// Footer section
footer {
  padding: 4rem 0;

  .wrapper {
    .footer-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      margin-bottom: 3rem;

      .footer-logo {
        .logo {
          margin-bottom: 3rem;
          width: 25rem;

          a {
            margin-top: 0;
          }
        }
      }

      .footer-nav {
        margin: 0 4rem;

        h2 {
          margin-bottom: 3rem;
        }

        ul {
          li {
            margin: 2rem 0;
          }
        }
      }

      .footer-contact {
        h2 {
          margin-bottom: 3rem;
        }
      }
    }

    p,
    a {
      margin: 2rem 0;
      color: #ccc;
      font-weight: 400;
      line-height: 140%;
    }

    .copy {
      border-top: 1px solid #858584;
      padding-top: 2rem;
    }
  }
}

// Contact section {
.contact-section {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 4rem;
    background-color: #3b3b3b;
    grid-gap: 4rem;
    border-radius: 20px;

    .contact-img {
      img {
        width: 100%;
        border-radius: 20px;
      }
    }

    .contact-form {
      h3 {
        margin-bottom: 1rem;
      }

      h5 {
        margin-bottom: 4rem;
      }

      .email-form {
        flex-direction: column;

        input {
          width: 100%;
          margin-bottom: 1.6rem;
        }

        button {
          width: 100%;
          right: 0;
        }
      }
    }
  }
}

// Media queries
@media screen and (max-width: 1200px) {
  // Global styles
  .wrapper {
    width: 90%;
  }

  // Header section
  header {
    .header-wrapper {
      width: 90%;
    }
  }
}

@media screen and (max-width: 992px) {
  // Global styles
  h1 {
    font-size: 3.8rem;
    line-height: 120%;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.2rem;
    line-height: 160%;
  }

  h5 {
    font-size: 1.6rem;
    line-height: 140%;
  }

  // Header section
  header {
    .header-wrapper {
      flex-direction: column;
      padding: 2rem;

      nav {
        margin-top: 20px;

        ul {
          li {
            .button {
              background-color: transparent;
              border: transparent;
              padding: 1.2rem 2rem;

              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  // Hero section
  main {
    .wrapper {
      .about {
        h1 {
          width: 100%;
        }
      }

      .info {
        .statistics {
          .statistic {
            p {
              font-size: 1.6rem;
            }
          }
        }
      }

      .card {
        a {
          .card-img {
            img {
              height: 320px;
            }
          }
        }
      }
    }
  }

  // Collection section
  .collection-section {
    .wrapper {
      .collection-types {
        grid-template-columns: repeat(2, 1fr);

        .type-3 {
          display: none;
        }
      }
    }
  }

  //   Creators section
  .creators-section {
    .wrapper {
      .creators {
        grid-template-columns: repeat(2, 1fr);

        .creator-7 {
          display: none;
        }

        .creator a {
          text-align: left;
          display: flex;
          align-items: center;

          .creator-img {
            margin: 0 2rem 0 0;
          }
        }
      }
    }
  }

  // Categories section
  .categories-section {
    .wrapper {
      .categories {
        a {
          .category {
            .icon {
              height: 140px;

              img {
                width: 80px;
              }
            }

            h6 {
              font-size: 1.6rem;
              margin-right: 0;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }

  //   NFTs section
  .nfts-section {
    .wrapper {
      .nfts {
        grid-template-columns: repeat(2, 1fr);

        .nft-3 {
          display: none;
        }
      }
    }
  }

  //   Mushrooms section
  .mushrooms-section {
    .wrapper {
      .mushroom-info {
        h3 {
          font-size: 3.8rem;
        }
      }
    }
  }

  // How works section
  .how-works-section {
    .wrapper {
      .steps {
        .step {
          h6 {
            font-size: 1.6rem;
          }

          p {
            font-size: 1.2rem;
            line-height: 140%;
          }
        }
      }
    }
  }

  // Footer section
  footer {
    .wrapper {
      .footer-info {
        display: grid;
        grid-template-columns: 1fr;

        .footer-nav {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // Header section
  header {
    .header-wrapper {
      width: 98%;
    }
  }
}

@media screen and (max-width: 678px) {
  // Global styles
  .wrapper-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "head" "creators" "btn";

    .head {
      grid-area: head;

      h5 {
        margin-bottom: 4rem;
      }
    }

    .btn {
      grid-area: btn;
      margin: 4rem 0 0 0;
      width: 100%;

      .button {
        display: flex;
        justify-content: center;
      }
    }

    .all {
      grid-area: creators;
    }
  }

  // Hero section
  main {
    .wrapper {
      grid-template-columns: 1fr;
      grid-template-areas: "about" "card" "info";

      .about {
        grid-area: about;
      }
      .info {
        grid-area: info;

        .btn {
          .button {
            display: flex;
            justify-content: center;
          }
        }
      }
      .card {
        grid-area: card;
      }
    }
  }

  //   Creators section
  .creators-section {
    .wrapper {
      .creators {
        grid-template-columns: 1fr;

        .creator-6 {
          display: none;
        }
      }
    }
  }

  //   Categories section
  .categories-section {
    .wrapper {
      .categories {
        grid-template-columns: repeat(2, 1fr);

        a {
          .category {
            .icon {
              height: 180px;
            }
          }
        }
      }
    }
  }

  //   Mushrooms section
  .mushrooms-section {
    .wrapper {
      .mushroom-info {
        display: inline-block;
        margin-top: 10rem;

        h3 {
          margin: 3rem 0;
        }

        .btn {
          margin-top: 4rem;
        }
      }
    }
  }

  // How works section
  .how-works-section {
    .wrapper {
      .steps {
        grid-template-columns: 1fr;

        .step {
          display: flex;
          align-items: center;
          padding: 2rem;
          text-align: left;

          .step-info {
            margin-left: 2rem;

            h6 {
              margin: 0;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }

  //   Contact section
  .contact-section {
    .wrapper {
      grid-template-columns: 1fr;
      background-color: transparent;
      padding: 0;
    }
  }
}

@media screen and (max-width: 588px) {
  // Global styles
  .email-form {
    flex-direction: column;

    input {
      width: 100%;
      margin-bottom: 1.6rem;
    }

    button {
      width: 100%;
      right: 0;
    }
  }

  // Header section
  header {
    .header-wrapper {
      nav {
        ul {
          flex-direction: column;

          li {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }

  // Collection section
  .collection-section {
    .wrapper {
      .collection-types {
        grid-template-columns: 1fr;

        .collection-type {
          .collections {
            .collection {
              font-size: 1.6rem;
            }
          }
        }

        .type-2 {
          display: none;
        }
      }
    }
  }

  .categories-section {
    .wrapper {
      .categories {
        a {
          .category {
            .icon {
              height: 140px;
            }
          }
        }
      }
    }
  }

  //   NFTs section
  .nfts-section {
    .wrapper {
      .nfts {
        grid-template-columns: 1fr;

        .nft-3 {
          display: inline-block;
        }
      }
    }
  }

  //   Mushrooms section
  .mushrooms-section {
    min-height: 70vh;

    .wrapper {
      .mushroom-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 0;

        h3 {
          margin: 3rem 0;
        }

        .auction-deadline {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        .btn {
          width: 100%;

          .button {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
