// Fonts
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/Space_Mono/SpaceMono-Bold.ttf");
  font-weight: 700;
}

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans";
}

header,
main,
section {
  background-color: #2b2b2b;
}

footer {
  background-color: #3b3b3b;
}

.wrapper {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button {
  color: #fff;
}

h1 {
  font-size: 5.1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.2rem;
  font-family: "Space Mono";
  font-weight: 700;
}

h5 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}

p {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.logo {
  a {
    display: flex;
    align-items: center;

    img {
      margin-right: 1.2rem;
    }
  }
}

.button {
  background-color: #a259ff;
  border-radius: 20px;
  border: 2px solid #a259ff;

  &:hover {
    background-color: transparent;
  }

  img {
    vertical-align: middle;
    padding-right: 1rem;
  }
}

.email-form {
  display: flex;
  align-items: center;

  input {
    padding: 2rem 5rem 2rem 2rem;
  }
}

input {
  font-size: 1.6rem;
  font-family: "Work Sans";
  border-radius: 20px;
  border: none;
  padding: 1.2rem 5rem 1.2rem 5.2rem;
}

button {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  position: relative;
  right: 3rem;
  cursor: pointer;

  &.button {
    border: 0.5px solid #a259ff;

    &:hover {
      background-color: #a259ff;
    }
  }
}

// Header section
header {
  .header-wrapper {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.4rem 0;

    nav {
      ul {
        display: flex;
        align-items: center;

        li {
          a {
            padding: 1.2rem 2rem;
          }

          .button {
            padding: 1.8rem 2.8rem;
          }
        }
      }
    }
  }
}

// Hero section
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;

  .hero-img {
    img {
      width: 100%;
    }
  }

  .wallet-info {
    padding-right: 150px;

    .wallets {
      .wallet {
        a {
          display: flex;
          align-items: center;
          font-size: 2.2rem;
          margin-bottom: 2rem;
          background-color: #3b3b3b;
          border-radius: 20px;
          border: 2px solid #a259ff;
          padding: 2rem;
          width: 320px;

          img {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}

// Footer section
footer {
  padding: 4rem 0;

  .wrapper {
    .footer-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      margin-bottom: 3rem;

      .footer-logo {
        .logo {
          margin-bottom: 3rem;
          width: 25rem;

          a {
            margin-top: 0;
          }
        }
      }

      .footer-nav {
        margin: 0 4rem;

        h2 {
          margin-bottom: 3rem;
        }

        ul {
          li {
            margin: 2rem 0;
          }
        }
      }

      .footer-contact {
        h2 {
          margin-bottom: 3rem;
        }
      }
    }

    p,
    a {
      margin: 2rem 0;
      color: #ccc;
      font-weight: 400;
      line-height: 140%;
    }

    .copy {
      border-top: 1px solid #858584;
      padding-top: 2rem;
    }
  }
}

// Media queries
@media screen and (max-width: 1200px) {
  // Global styles
  .wrapper {
    width: 90%;
  }

  h1 {
    font-size: 3.8rem;
  }

  h5 {
    font-size: 1.6rem;
    line-height: 140%;
  }

  // Header section
  header {
    .header-wrapper {
      width: 90%;
    }
  }

  //   Hero section
  main {
    .hero-img {
      img {
        height: 570px;
      }
    }

    .wallet-info {
      .wallets {
        .wallet {
          a {
            padding: 1.5rem 2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  // Header section
  header {
    .header-wrapper {
      flex-direction: column;
      padding: 2rem;

      nav {
        margin-top: 20px;

        ul {
          li {
            .button {
              background-color: transparent;
              border: transparent;
              padding: 1.2rem 2rem;

              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  //   Hero section
  main {
    .wallet-info {
      padding-right: 10px;
    }
  }

  // Footer section
  footer {
    .wrapper {
      .footer-info {
        display: grid;
        grid-template-columns: 1fr;

        .footer-nav {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // Header section
  header {
    .header-wrapper {
      width: 98%;
    }
  }

  // Hero section
  main {
    grid-template-columns: 1fr;
    padding-bottom: 100px;

    .wallet-info {
      width: 90%;
      margin: auto;

      .wallets {
        .wallet {
          a {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 588px) {
  // Global styles
  .email-form {
    flex-direction: column;

    input {
      width: 100%;
      margin-bottom: 1.6rem;
    }

    button {
      width: 100%;
      right: 0;
    }
  }

  // Header section
  header {
    .header-wrapper {
      nav {
        ul {
          flex-direction: column;

          li {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}
